## Read complete file with all information and divide it into individual table data

In [333]:
import numpy as np
import pandas as pd
import warnings 
warnings.filterwarnings('ignore')

In [498]:
# loading data
#data = pd.read_csv(r'C:\Users\Anitha Karunakaran\Documents\GSU_MSDA\Fall1 semester\Database Management MSA8040\Project\final project\Sample_webScrape_Ford.csv', low_memory=False, delimiter =",")
data = pd.read_csv(r'C:\Users\Anitha Karunakaran\Documents\GSU_MSDA\Fall1 semester\Database Management MSA8040\Project\final project\output10.csv', low_memory=False, delimiter =",")
data.shape

(15758, 10)

In [499]:
data.head(2)

,Ticker,Company,Title,Date,Time,Speech,Participant name,Section,Company_Participants_type,Participant_Organization
0,RQHTF,Reliq Health Technologies Inc.,Q1 2021 Earnings Conference,"December 1, 2020",9:00 AM ET,Please review this disclaimer regarding forwar...,Lisa Crossley,presentation,Chief Executive Officer,NaN
1,RQHTF,Reliq Health Technologies Inc.,Q1 2021 Earnings Conference,"December 1, 2020",9:00 AM ET,We are a cloud-based Software-as-a-Service pro...,Lisa Crossley,presentation,Chief Executive Officer,NaN

In [501]:
data[data.Ticker=="UHAL"].head(2)

,Ticker,Company,Title,Date,Time,Speech,Participant name,Section,Company_Participants_type,Participant_Organization
15697,UHAL,AMERCO,Q2 2021 Earnings Conference,"November 5, 2020",10:00 AM ET,"Good day, ladies and gentlemen and welcome to ...",Operator,presentation,attendee,NaN
15698,UHAL,AMERCO,Q2 2021 Earnings Conference,"November 5, 2020",10:00 AM ET,"At this time, it is my pleasure to turn the fl...",Operator,presentation,attendee,NaN

In [502]:
#getting columns in same order as required to rename the columns
data.columns

data = data[['Ticker', 'Company', 'Title', 'Date', 'Time', 'Section', 'Speech','Participant name', 'Company_Participants_type', 'Participant_Organization']]
data.columns

Index(['Ticker', 'Company', 'Title', 'Date', 'Time', 'Section', 'Speech',
       'Participant name', 'Company_Participants_type',
       'Participant_Organization'],
      dtype='object')

In [503]:
#change column names
data.columns= ['Ticker', 'Company', 'Title', 'Conference_Date', 'Conference_Time', 'Section', 'Speech','Participant_name','Participant_type', 'Participant_Organization']

In [504]:
data.columns

Index(['Ticker', 'Company', 'Title', 'Conference_Date', 'Conference_Time',
       'Section', 'Speech', 'Participant_name', 'Participant_type',
       'Participant_Organization'],
      dtype='object')

In [505]:
data.head(2)

,Ticker,Company,Title,Conference_Date,Conference_Time,Section,Speech,Participant_name,Participant_type,Participant_Organization
0,RQHTF,Reliq Health Technologies Inc.,Q1 2021 Earnings Conference,"December 1, 2020",9:00 AM ET,presentation,Please review this disclaimer regarding forwar...,Lisa Crossley,Chief Executive Officer,NaN
1,RQHTF,Reliq Health Technologies Inc.,Q1 2021 Earnings Conference,"December 1, 2020",9:00 AM ET,presentation,We are a cloud-based Software-as-a-Service pro...,Lisa Crossley,Chief Executive Officer,NaN

In [517]:
### Assign a number to the group
df1 = data.copy()
 
#Conference_id starting from 100
df1['Conference_Id'] = df1.groupby(['Ticker','Company','Title','Conference_Date','Conference_Time']).ngroup()+100

#Participant_id starting from 1000
#df1['Participant_id'] = df1.groupby(['Ticker','Company','Title','Conference_Date','Conference_Time','Participant_name','Participant_type', 'Participant_Organization']).ngroup()+10
df1['Participant_id'] = df1.groupby(['Ticker','Company','Title','Conference_Date','Conference_Time','Participant_name']).ngroup()+1000

#this keeps the order of the speech as is
df1['Speech_id'] = np.arange(len(df1)) + 1

df1.head(5)

,Ticker,Company,Title,Conference_Date,Conference_Time,Section,Speech,Participant_name,Participant_type,Participant_Organization,Conference_Id,Participant_id,Speech_id
0,RQHTF,Reliq Health Technologies Inc.,Q1 2021 Earnings Conference,"December 1, 2020",9:00 AM ET,presentation,Please review this disclaimer regarding forwar...,Lisa Crossley,Chief Executive Officer,NaN,281,2175,1
1,RQHTF,Reliq Health Technologies Inc.,Q1 2021 Earnings Conference,"December 1, 2020",9:00 AM ET,presentation,We are a cloud-based Software-as-a-Service pro...,Lisa Crossley,Chief Executive Officer,NaN,281,2175,2
2,RQHTF,Reliq Health Technologies Inc.,Q1 2021 Earnings Conference,"December 1, 2020",9:00 AM ET,presentation,This webinar will be a relatively brief overvi...,Lisa Crossley,Chief Executive Officer,NaN,281,2175,3
3,RQHTF,Reliq Health Technologies Inc.,Q1 2021 Earnings Conference,"December 1, 2020",9:00 AM ET,presentation,I’ll provide an update on the private placemen...,Lisa Crossley,Chief Executive Officer,NaN,281,2175,4
4,RQHTF,Reliq Health Technologies Inc.,Q1 2021 Earnings Conference,"December 1, 2020",9:00 AM ET,presentation,"For the Q1 fiscal year 2021 financials, a remi...",Lisa Crossley,Chief Executive Officer,NaN,281,2175,5

In [509]:
df1.columns

Index(['Ticker', 'Company', 'Title', 'Conference_Date', 'Conference_Time',
       'Section', 'Speech', 'Participant_name', 'Participant_type',
       'Participant_Organization', 'Conference_Id', 'Participant_id',
       'Speech_id'],
      dtype='object')

##### Creating Conference table

Columns are:
+ Conference_id
+ Title
+ Conference_Date
+ Conference_Time
+ Ticker
+ Company
+ Quarter

In [518]:
Conference_df = pd.DataFrame()  
Conference_df = df1[["Conference_Id","Title","Conference_Date","Conference_Time","Ticker","Company"]].drop_duplicates()

# convert the 'Date' column to datetime format
Conference_df['Conference_Date'] = pd.to_datetime(Conference_df['Conference_Date'])

#create quarter column from date
Conference_df['Conference_Quarter'] = Conference_df['Conference_Date'].dt.quarter
#adding Q in-front of quarter column
Conference_df['Conference_Quarter'] = 'Q' + Conference_df['Conference_Quarter'].astype(str)

print(Conference_df.shape)

Conference_df.head(20)

(235, 7)

,Conference_Id,Title,Conference_Date,Conference_Time,Ticker,Company,Conference_Quarter
0,281,Q1 2021 Earnings Conference,2020-12-01,9:00 AM ET,RQHTF,Reliq Health Technologies Inc.,Q4
50,299,Q2 2021 Earnings Conference,2020-12-03,5:00 PM ET,SWBI,"Smith & Wesson Brands, Inc.",Q4
142,317,Q3 2020 Earnings Conference,2020-10-29,5:00 AM ET,UMC,United Microelectronics Corporation,Q4
221,164,Q3 2020 Earnings Conference,2020-11-06,11:00 AM ET,CWT,California Water Service Group,Q4
277,113,Q1 2021 Results Conference,2020-09-29,8:00 AM ET,ANGO,"AngioDynamics, Inc.",Q3
342,105,Q3 2020 Earnings Conference,2020-11-09,8:30 AM ET,ACDVF,Air Canada,Q4
405,161,Q3 2020 Earnings Conference,2020-11-06,11:00 AM ET,CUBE,CubeSmart,Q4
456,144,Q3 2020 Earnings Conference,2020-11-05,12:00 PM ET,CCAP,"Crescent Capital BDC, Inc.",Q4
509,141,Q3 2020 Earnings Conference,2020-10-28,5:00 PM ET,CASA,"Casa Systems, Inc.",Q4
549,324,Q3 2020 Results Earnings Conference,2020-11-04,11:00 AM ET,VRT,Vertiv Holdings Co.,Q4
612,213,Q3 2020 Earnings Conference,2020-11-04,2:30 AM ET,ITOCF,ITOCHU Corporation,Q4
670,313,Q3 2020 Earnings Conference,2020-11-12,8:30 AM ET,TUFN,Tufin Software Technologies Ltd.,Q4
741,100,Q3 2020 Earnings Conference,2020-10-22,8:30 AM ET,AAL,American Airlines Group Inc.,Q4
808,168,NASDAQ 43rd Virtual Investor Conference,2020-12-01,1:00 PM ET,DBX,"Dropbox, Inc",Q4
838,302,Q2 2021 Earnings Conference,2020-10-22,8:00 AM ET,TAL,TAL Education Group,Q4
871,238,2020 KBW Virtual Insurance,2020-09-10,8:00 AM ET,MET,"MetLife, Inc.",Q3
948,204,Q3 2020 Earnings Conference,2020-11-09,8:20 AM ET,GOGO,Gogo Inc.,Q4
973,107,Q3 2020 Earnings Conference,2020-11-12,4:30 PM ET,AGRX,"Agile Therapeutics, Inc.",Q4
1023,291,Q3 2020 Results Earnings Conference,2020-10-23,4:00 AM ET,SHLAF,Schindler Holding AG Bearer Participation Cert...,Q4
1110,298,Q3 2020 Results Conference,2020-11-11,9:00 AM ET,STAF,"Staffing 360 Solutions, Inc.",Q4

#### Creating Participant table

Columns are:
+ Participant_id
+ Participant name
+ Participant type
+ Participant Organization

In [519]:
Participant_df = pd.DataFrame()  
Participant_df = df1[['Participant_id','Participant_name','Participant_type', 'Participant_Organization']].drop_duplicates()

print(Participant_df.shape)

Participant_df.head(20)

(1525, 4)

,Participant_id,Participant_name,Participant_type,Participant_Organization
0,2175,Lisa Crossley,Chief Executive Officer,NaN
50,2297,Operator,attendee,NaN
52,2298,Robert Cicero,General Counsel,NaN
60,2296,Mark Smith,CEO,Lake Street Capital
81,2295,Deana McPherson,CFO,NaN
94,2301,Scott Stember,attendee,CL King
105,2302,Steve Dyer,attendee,Craig
134,2299,Rommel Dionisio,attendee,Aegis Capital
138,2300,Scott McCrery,attendee,Cowen
142,2422,Operator,attendee,NaN
143,2421,Michael Lin,IR,NaN
146,2418,Chitung Liu,CFO,NaN
161,2420,Jason Wang,President,NaN
165,2423,Randy Abrams,attendee,Credit Suisse
181,2419,Gokul Hariharan,attendee,J.P. Morgan
187,2416,Bruce Lu,attendee,Goldman Sachs
195,2425,Szeho Ng,attendee,China Renaissance
202,2417,Charlie Chan,attendee,Morgan Stanley
214,2424,Roland Shu,attendee,Citigroup
221,1426,Operator,attendee,NaN

#### Creating Conference_Participant table

Columns are:
+ Conference_Id
+ Participant_id

In [521]:
Conference_Participant_df = pd.DataFrame()  
Conference_Participant_df = df1[['Conference_Id','Participant_id']].drop_duplicates()

print(Conference_Participant_df.shape)
Conference_Participant_df.head(20)

(1525, 2)

     Conference_Id  Participant_id
0              281            2175
50             299            2297
52             299            2298
60             299            2296
81             299            2295
94             299            2301
105            299            2302
134            299            2299
138            299            2300
142            317            2422
143            317            2421
146            317            2418
161            317            2420
165            317            2423
181            317            2419
187            317            2416
195            317            2425
202            317            2417
214            317            2424
221            164            1426

#### Creating Speech table

Columns are:
+ Speech_id
+ Conference_Id
+ Participant_id
+ Section
+ Speech

In [522]:
Speech_df = pd.DataFrame()  
Speech_df = df1[['Speech_id','Conference_Id', 'Participant_id','Section', 'Speech']].drop_duplicates()

print(Speech_df.shape)
Speech_df.tail(20)

(15758, 5)

,Speech_id,Conference_Id,Participant_id,Section,Speech
15738,15739,316,2410,Question-and-Answer Session,You can track the margin on that because if yo...
15739,15740,316,2408,Question-and-Answer Session,"Hey, on the revenue growth can you talk about ..."
15740,15741,316,2410,Question-and-Answer Session,"Craig, this is Jason -- to split that up a cou..."
15741,15742,316,2408,Question-and-Answer Session,"Okay. Split half and half. Okay, on the -- I'l..."
15742,15743,316,2410,Question-and-Answer Session,"So, yes. So we have received I believe it's ar..."
15743,15744,316,2410,Question-and-Answer Session,Correct. That got upon the passage of -- I thi...
15744,15745,316,2408,Question-and-Answer Session,"Okay. One more on the senior mortgages, a litt..."
15745,15746,316,2410,Question-and-Answer Session,"Well, on our new deals Kevin Hart is or Assist..."
15746,15747,316,2408,Question-and-Answer Session,Okay. Okay. I guess I'll ask on -- obviously i...
15747,15748,316,2410,Question-and-Answer Session,"Craig, it's a little bit of both. We have some..."
15748,15749,316,2408,Question-and-Answer Session,"Okay. Yes, so the people running the stores, y..."
15749,15750,316,2411,Question-and-Answer Session,It's possible. You know it's a statistic quest...
15750,15751,316,2411,Question-and-Answer Session,"So, that's hurt our efficiency in fact, and so..."
15751,15752,316,2411,Question-and-Answer Session,"Yes, that's what I would say -- I'm real proud..."
15752,15753,316,2411,Question-and-Answer Session,"But to pay them better, but I got to make them..."
15753,15754,316,2408,Question-and-Answer Session,"That's great. Then the self-storage, obviously..."
15754,15755,316,2411,Question-and-Answer Session,Probably not in the short run. I mean I think ...
15755,15756,316,2408,Question-and-Answer Session,Last for Jason. So it looks like you'll bought...
15756,15757,316,2410,Question-and-Answer Session,"Well, we already have a pretty decent portfoli..."
15757,15758,316,2408,Question-and-Answer Session,And were those discounted preferreds -- those ...

In [523]:
#remove punctuations from Speech
import re

Speech_df['Speech'] = Speech_df['Speech'].str.replace('[^\w\s]','')

In [524]:
Speech_df.tail(20)

,Speech_id,Conference_Id,Participant_id,Section,Speech
15738,15739,316,2410,Question-and-Answer Session,You can track the margin on that because if yo...
15739,15740,316,2408,Question-and-Answer Session,Hey on the revenue growth can you talk about ...
15740,15741,316,2410,Question-and-Answer Session,Craig this is Jason to split that up a couple...
15741,15742,316,2408,Question-and-Answer Session,Okay Split half and half Okay on the Ill ask ...
15742,15743,316,2410,Question-and-Answer Session,So yes So we have received I believe its aroun...
15743,15744,316,2410,Question-and-Answer Session,Correct That got upon the passage of I think ...
15744,15745,316,2408,Question-and-Answer Session,Okay One more on the senior mortgages a little...
15745,15746,316,2410,Question-and-Answer Session,Well on our new deals Kevin Hart is or Assista...
15746,15747,316,2408,Question-and-Answer Session,Okay Okay I guess Ill ask on obviously if you...
15747,15748,316,2410,Question-and-Answer Session,Craig its a little bit of both We have some tr...
15748,15749,316,2408,Question-and-Answer Session,Okay Yes so the people running the stores you ...
15749,15750,316,2411,Question-and-Answer Session,Its possible You know its a statistic question...
15750,15751,316,2411,Question-and-Answer Session,So thats hurt our efficiency in fact and so Im...
15751,15752,316,2411,Question-and-Answer Session,Yes thats what I would say Im real proud of w...
15752,15753,316,2411,Question-and-Answer Session,But to pay them better but I got to make them ...
15753,15754,316,2408,Question-and-Answer Session,Thats great Then the selfstorage obviously the...
15754,15755,316,2411,Question-and-Answer Session,Probably not in the short run I mean I think t...
15755,15756,316,2408,Question-and-Answer Session,Last for Jason So it looks like youll bought 1...
15756,15757,316,2410,Question-and-Answer Session,Well we already have a pretty decent portfolio...
15757,15758,316,2408,Question-and-Answer Session,And were those discounted preferreds those we...

Save each of the data as .csv file
+ Conference
+ Participant
+ Conference_Participant
+ Speech

In [525]:
Conference_df.to_csv("Conference.csv",index=False)

Participant_df.to_csv("Participant.csv",index=False)

Conference_Participant_df.to_csv("Conference_Participant.csv",index=False)

Speech_df.to_csv("Speech.csv",index=False)

In [377]:
import os
os.getcwd()

'C:\\Users\\Anitha Karunakaran\\Documents\\GSU_MSDA\\Fall1 semester\\Database Management MSA8040\\Project\\final project'